<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>personDetail</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<div th:each="data: ${person}">

    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span th:text="${data.getName()}?: '(no age specified)'">27</span>
                    <p>..</p>
                </div>
                <div class="card-action">
                    <a href="#"><span th:text="${data.getPid()}?: '(no age specified)'">27</span></a>
                    <a href="#"><span th:text="${data.getAge()}?: '(no age specified)'">27</span></a>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>